@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}
html {
  min-width: 1500px;
}
body {
  background-image: url("../wallpaper.jpg");
  background-size: cover;
  min-width: 800px;
  height: 100vh;
  min-width: 1200px;
  margin: 0 auto;
  font-family: "simpsons";
}
#mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
#name,
#category {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 400px;
  margin: 0 auto;
  font-size: 24px;
}
#category {
  margin: 0 auto;
}
#pricePerKgParagraph {
  font-size: 24px;
  width: 25%;
}
#pricesContainer {
  display: flex;
  justify-content: left;
  width: 400px;
  justify-content: space-between;
  font-size: 24px;
  margin: 0 auto;
}
.shopContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}
input,
select {
  width: 80%;
  margin: 30px 0 30px 0;
  /* padding: 5px 5px 5px 5px; */
  font-family: arial;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
}
#categorySelector {
  width: 200px;
}
.shopContainer input {
  width: 100px;
}
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 400px;
  margin: 0 auto 100px auto;
}
button {
  background-color: transparent;
  height: 30%;
  min-height: 50px;
  width: 20%;
  min-width: 250px;
  background-color: #f8d62d;
  font-family: "simpsons";
  font-size: 170%;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
  margin: 10px 0 10px 0;
  transition: all 0.1s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
