body {
  background-image: url(../1312960.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}
.alphabet {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  width: 100%;
  min-width: 900px;
  max-width: 1300px;
  height: 5vh;
  margin: 25px auto;
}

#mainContainer {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  min-height: 500px;
}
#productsContainerList {
  position: relative;
  margin-left: 100px;
  width: 20%;
  min-width: 500px;
  border: solid 2px black;
  border-radius: 10px;
  height: 80vh;
  box-shadow: 15px 15px 20px rgb(72, 72, 72);
  overflow: auto;
}
.productButton {
  width: 70%;
  min-width: 150px;
  max-width: 200px;
  min-height: 20px;
  max-height: 48px;
  flex-grow: 1;
  margin: 0 5px;
  font-family: "simpsons";
  font-size: 140%;
  background-color: #f8d62d;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(24, 24, 24);
  transition: all 0.05s ease-in-out;
}
.productButton:hover {
  transform: scale(1.1);
}
#productList {
  padding: 10px 10px;
  background-color: #ffffff;
}
.button-success {
  background-color: rgb(113, 209, 114);
}
