* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../1312960.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  height: 100h;
  min-width: 1800px;
  min-height: 800px;
}
@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}
#mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 80%;
  max-width: 1500px;
  max-height: 800px;
  margin: auto;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 80vh; */
  min-height: 500px;
}
#productsContainerList {
  position: relative;
  margin-left: 100px;
  width: 20%;
  min-width: 500px;
  border: solid 2px black;
  border-radius: 10px;
  /* height: 80vh; */
  box-shadow: 15px 15px 20px rgb(72, 72, 72);
  overflow: auto;
}
.productButton {
  width: 70%;
  min-width: 150px;
  max-width: 200px;
  min-height: 20px;
  max-height: 48px;
  flex-grow: 1;
  margin: 0 5px;
  font-family: "simpsons";
  font-size: 140%;
  background-color: #f8d62d;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(24, 24, 24);
  transition: all 0.05s ease-in-out;
}
.productButton:hover {
  transform: scale(1.1);
}
#productList {
  padding: 10px 10px;
  background-color: #ffffff;
}
.button-success {
  background-color: rgb(113, 209, 114);
}
