* {
  background-color: rgb(145, 108, 142);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 25vh;
  height: 50vh;
  margin-bottom: 25vh;
}

.button {
  display: flex;
  align-items: center;
  background-color: #363636;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  justify-content: center;
}
