@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}

body {
  height: 100vh;
  background-image: url("../1367084.jpg");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 50%;
  width: 15%;
  top: 50%;
  transform: translateY(-50%);
  right: 23%;
}

button {
  background-color: transparent;
  height: 12%;
  min-height: 50px;
  width: 100%;
  min-width: 250px;
  background-color: #f8d62d;
  font-family: "simpsons";
  font-size: 170%;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(111, 111, 111);
  opacity: 0;
  /* visibility: hidden; */
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  /* animation: slideIn 2s ease-in-out;  */
}
#make_l {
  animation-delay: 0.5s; /* Opóźnienie 1 sekundy */
}

#add_p {
  animation-delay: 0.75s; /* Opóźnienie 1.25 sekundy */
}

#edit_p {
  animation-delay: 0.8s; /* Opóźnienie 1.5 sekundy */
}

#saved_l {
  animation-delay: 0.9s; /* Opóźnienie 1.75 sekundy */
}
@keyframes slideIn {
  0% {
    opacity: 1; /* Początkowa niewidoczność */
    transform: translateY(2000%); /* Początkowa pozycja poza widokiem */
  }
  100% {
    opacity: 1; /* Końcowa widoczność */
    transform: translateY(0); /* Końcowa pozycja */
  }
}
