@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}
html {
  min-width: 1500px;
}
body {
  background-image: url("../1367084.jpg");
  background-size: cover;
  min-width: 1250px;
}

body {
  width: 70%;
  margin: 0 auto;
  font-family: "simpsons";
}

#mainContainer {
  display: flex;
  margin: 20vh auto 10vh;
}
#name {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 30%;
  font-size: 36px;
}
#pricePerKgParagraph {
  font-size: 36px;
  width: 25%;
}
#pricesContainer {
  display: flex;
  justify-content: space-around;

  width: 70%;
  font-size: 36px;
}
.shopContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
}
input {
  width: 80%;
  margin: 30px 0 30px 0;
  padding: 5px 5px 5px 5px;
  font-family: arial;
  font-size: 24px;
  border-radius: 10px;
}
.shopContainer input {
  width: 100px;
}
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
  margin-right: 100px;
}
button {
  background-color: transparent;
  height: 30%;
  min-height: 50px;
  width: 20%;
  min-width: 250px;
  background-color: #f8d62d;
  font-family: "simpsons";
  font-size: 170%;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(111, 111, 111);
  margin: 10px 40px 10px 0;
}
